@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../../public/fonts/GoogleSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'GoogleSans-Medium';
    src: url('../../../public/fonts/GoogleSans-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: medium;
    font-display: swap;
  }
  @font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../../../public/fonts/GoogleSans-Bold.ttf') format('truetype');
    font-weight: Bold;
    font-style: Bold;
    font-display: swap;
  }

html {
	width: 100%;
	height: 100%;
	position: absolute;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #F9FAFB;
	color: #000000;
	font-size: 14px;
	position: relative;
	min-height: 100%;
	width: 100%;
	padding-bottom: 60px;
    font-family: "GoogleSans-Regular", sans-serif;
}

.mobhide {
    display: none;
}

.leftsidemenu {
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    width: 250px;
    height: 100%;
    z-index: 99;
    overflow-x: hidden;
    transition: 0.5s;
}

.leftsidemenu a {
    padding: 12px 8px 12px 24px;
    margin: 6px;
    text-decoration: none;
    font-size: 14px;
    color: #737791;
    font-weight: normal;
    display: block;
    transition: 0.3s;
}

.leftsidemenu a:hover{
    background-color: #5D5FEF;
    color: #fff;
    border-radius: 10px;
}

.closesidenav .leftsidemenu{
    width: 0px;
}

.usernavbar {
    padding-left: 272px;
    padding-right: 16px;
    background-color: #fff !important;
}

.brand a{
    padding: 8px 8px 8px 24px;
    margin: 6px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    color: #0E100F;
    display: block;
    transition: 0.3s;
}

.brand a:hover {
    background-color: unset;
    color: #000;
}

/* .brand .brandstyle {
    background-color: #1EE654;
    padding: 3px;
    border-radius: 8px;
    font-weight: 700;
} */

.sidenavflex {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 0px 10px;
}

.pagecontentbox {
    padding: 16px 16px 16px 272px;
    padding-left: 272px;
}

.searchbox {
    border: none;
    background: #F9FAFB;
    border-radius: 16px;
}

.searchbox:focus {
    border: none;
    box-shadow: none;
    background: #F9FAFB;
}

.searchbox::placeholder {
    font-size: 14px;
    color: #737791;
}

/* title */

.pagetitlediv h2 {
    color: #151D48;
    font-size: 18px;
    font-weight: 600;
}

/* card */

.flexbox {
    display: flex;
    width: 100%;
    gap: 14px;
}

.flexbox > div {
    width: 100%;
}

.cardimg {
    /* filter: grayscale(1)invert(1); */
    width: 100%;
    max-width: 32px;
}

.table-content{
    display: table;
    margin: 0;
    width: 100%;
}

.table-content > div:first-child {
    width: 64px;
}

.table-content > div {
    display: table-cell;
    vertical-align: middle;
    float: none;
}


.cards {
    padding: 26px;
    padding-bottom: 30px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.cardcontent .sub-heading {
    font-size: 22px;
    font-weight: 600;
    color: #151D48;
    margin-bottom: 0px;
}

.cardcontent .content {
    color: #425166;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
}

.cards.appointmentcard {
    background: #FFE2E5;
}

.cards.patientcard {
    background: #FFF4DE;
}

.cards.cliniccard {
    background: #DCFCE7;
}

.cards.consultingcard {
    background: #F3E8FF;
}

/* dashboard analytics */

.contentbox {
    padding: 16px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.05);

}

.cardtitle {
    display: flex;
    width: 100%;
    align-items: center;
}

.cardtitle > div {
    width: 100%;
}

.cardtitle >div:last-child {
    text-align: end;
}

.linkbtn {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #24a8fa;
}

.cardtitle h2{
    color: #05004E;
    font-size: 14px;
    font-weight: 600;
}

.flexbox.opanalytics > div:first-child {
    width: 35%;
}

.flexbox.opanalytics > div:nth-child(even) {
    width: 30%;
}

.flexbox.opanalytics > div:last-child {
    width: 35%;
}

.profileimg,
.patimg {
    width: 100%;
    max-width: 40px;
}

.appoitmentcontent h2{
    color: #151D48;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 500;
}

.appoitmentcontent p {
    margin-bottom: 0;
    color: #96A5B8;
    font-size: 14px;
}

.declinebtn {
    background: #FFE2E5;
    border: 1px solid #feebf0;
    color: #151D48;
    font-size: 14px;
    font-weight: 600;
}

.declinebtn:hover {
    background: #feebf0;
    border: 1px solid #feebf0;
    color: #fb797a;
    transform: scale(1.1);
    transition: ease 0.5s;
}

.confirmbtn {
    background: #F3E8FF;
    border: 1px solid #F3E8FF;
    color: #151D48;
    font-size: 14px;
    font-weight: 600;
}

.confirmbtn:hover {
    background: #C3BBFF;
    border: 1px solid #C3BBFF;
    color: #9081ff;
    transform: scale(1.1);
    transition: ease 0.5s;
}

table tr{
    border-style: none;
    border-color: transparent;
}

.patcontent h4{
    font-size: 14px;
    color: #151D48;
    font-weight: 600;
    margin-bottom: 0;
}

.patcontent p {
    font-size: 14px;
    color: #464E5F;
    font-weight: 600;
    margin-bottom: 0;
}

.trendimg {
    width: 100%;
    max-width: 20px;
}

.trend {
    font-size: 14px;
    font-weight: 600;
    color: #9081ff;
}

.patientanalytics {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 12px;
}

.appstatus {
    background-color: unset !important;
    color: #9081ff;
    font-size: 14px;
    font-weight: 600;
}

@media (max-width: 991px) {
    .mobhide {
        display: block;
    }

    .leftsidemenu {
        display: none;
    }

    .usernavbar {
        padding-left: 16px;
        padding-right: 16px;
        border-bottom: 1px solid #0000001a;
    }

    .pagecontentbox {
        padding-left: 16px;
        padding-right: 16px;
    }

    .mobbrand a{
        color: #0E100F;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
    }

    .mobbrand .mobbrandstyle {
        background-color: #1EE654;
        padding: 3px;
        border-radius: 8px;
        font-weight: 700;
    }
}