html {
	width: 100%;
	height: 100%;
	position: absolute;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #F9F9F9;
	color: #000000;
	font-size: 14px;
	position: relative;
	min-height: 100%;
	width: 100%;
	padding-bottom: 60px;
    font-family: "Inter", sans-serif;
}

.mobhide {
    display: none;
}

.leftsidemenu {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 250px;
    height: 100%;
    z-index: 99;
    overflow-x: hidden;
    transition: 0.5s;
}

.leftsidemenu a {
    padding: 8px 8px 8px 32px;
    margin: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #272628;
    display: block;
    transition: 0.3s;
}

.leftsidemenu a:hover{
    background-color: #000000;
    color: #fff;
    border-radius: 10px;
}

.closesidenav .leftsidemenu{
    width: 0px;
}

.usernavbar {
    padding-left: 272px;
    padding-right: 16px;
    border-bottom: 1px solid #0000001a;
}

.brand a{
    padding: 16px 16px 16px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #272628;
    display: block;
    transition: 0.3s;
}

.brand a:hover {
    background-color: unset;
    color: unset;
}

.brand .brandstyle {
    background-color: #1EE654;
    padding: 3px;
    border-radius: 8px;
    font-weight: 700;
}

.sidenavflex {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.pagecontentbox {
    padding: 16px 16px 16px 272px;
    padding-left: 272px;
}

@media (max-width: 991px) {
    .mobhide {
        display: block;
    }

    .leftsidemenu {
        display: none;
    }

    .usernavbar {
        padding-left: 16px;
        padding-right: 16px;
        border-bottom: 1px solid #0000001a;
    }

    .pagecontentbox {
        padding-left: 16px;
        padding-right: 16px;
    }

    .mobbrand a{
        color: #0E100F;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
    }

    .mobbrand .mobbrandstyle {
        background-color: #1EE654;
        padding: 3px;
        border-radius: 8px;
        font-weight: 700;
    }
}