html {
	width: 100%;
	height: 100%;
	position: absolute;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #FAFAFB;
	color: #000000;
	font-size: 14px;
	position: relative;
	min-height: 100%;
	width: 100%;
	padding-bottom: 60px;
    font-family: "Manrope", sans-serif;
}

.mobhide {
    display: none;
}

.leftsidemenu {
    position: absolute;
    left: 0;
    top: 0;
    background: #0C0B19;
    width: 250px;
    height: 100%;
    z-index: 99;
    overflow-x: hidden;
    transition: 0.5s;
}

.leftsidemenu a {
    padding: 8px 8px 8px 32px;
    margin: 6px;
    text-decoration: none;
    font-size: 14px;
    color: #fffce1;
    display: block;
    transition: 0.3s;
}

.leftsidemenu a:hover{
    background-color: rgb(53, 60, 83);
    color: #fff;
    border-radius: 10px;
}

.closesidenav .leftsidemenu{
    width: 0px;
}

.usernavbar {
    padding-left: 272px;
    padding-right: 16px;
    border-bottom: 1px solid #0000001a;
    background-color: #FAFAFB !important;
}

.brand {
    border-bottom: 1px solid #f5f2d740;
}

.brand a{
    padding: 8px 8px 8px 32px;
    margin: 6px;
    text-decoration: none;
    font-size: 18px;
    color: #fffce1;
    display: block;
    transition: 0.3s;
}

.brand a:hover {
    background-color: unset;
    color: #fff;
}

.brand .brandstyle {
    background-color: #1EE654;
    padding: 3px;
    border-radius: 8px;
    font-weight: 700;
}

.sidenavflex {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.pagecontentbox {
    padding: 16px 16px 16px 272px;
    padding-left: 272px;
}

/* title */

.pagetitlediv h2 {
    color: #0E100F;
    font-size: 18px;
    font-weight: 600;
}

/* card */

.flexbox {
    display: flex;
    width: 100%;
    gap: 14px;
}

.flexbox > div {
    width: 100%;
}

.cardimg {
    /* filter: grayscale(1)invert(1); */
    width: 100%;
    max-width: 32px;
}

.table-content{
    display: table;
    margin: 0;
    width: 100%;
}

.table-content > div:first-child {
    width: 64px;
}

.table-content > div {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.cards {
    padding: 26px;
    padding-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.cardcontent .sub-heading {
    font-size: 22px;
    font-weight: 800;
    color: #fffce1;
    margin-bottom: 0px;
}

.cardcontent .content {
    color: #fffce1;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 0px;
}

.cards.appointmentcard {
    background: #7a6efe;
}

.cards.patientcard {
    background: #ff5363e6;
}

.cards.cliniccard {
    background: #ffa901;
}

.cards.consultingcard {
    background: #24a8fa;
}

@media (max-width: 991px) {
    .mobhide {
        display: block;
    }

    .leftsidemenu {
        display: none;
    }

    .usernavbar {
        padding-left: 16px;
        padding-right: 16px;
        border-bottom: 1px solid #0000001a;
    }

    .pagecontentbox {
        padding-left: 16px;
        padding-right: 16px;
    }

    .mobbrand a{
        color: #0E100F;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
    }

    .mobbrand .mobbrandstyle {
        background-color: #1EE654;
        padding: 3px;
        border-radius: 8px;
        font-weight: 700;
    }
}